# create a .env file in the root directory of your project and copy this content into it

# Flask secret key (change in production!)
SECRET_KEY=flask_secret_key_here
# SqlAlchemy database setup 
DB_USER= username_here
DB_PASSWORD= password here
DB_HOST=host_name_here
DB_NAME= Database_name_here

# Google Drive folder ID for storing files
FOLDER_ID = '16MnPZcridcMhtDFv8Ohtn4CfFvL48xIm'


