flask
sqlalchemy
psycopg2-binary
pymysql
Werkzeug
python-dotenv
bcrypt
rapidfuzz
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-genai
python-docx 
python-pptx 
PyMuPDF
pytesseract
gunicorn
